<header id="header" class="fixed-top d-flex align-items-center" role="banner">
    <div class="container d-flex align-items-center justify-content-right">
        <h1 class="logo"><a href="/" title="صفحه اصلی فن آوران ترکیب گاز آذر - تامین کننده گازهای صنعتی">شرکت فن آوران ترکیب گاز آذر</a></h1>
        <nav id="navbar" class="navbar" role="navigation" aria-label="منوی اصلی سایت">
            <ul>
                <li><a class="nav-link" href="/" data-nav="home">خانه</a></li>
                <li><a class="nav-link" href="/about.html" data-nav="about">درباره شرکت</a></li>
                <li><a class="nav-link" href="/services.html" data-nav="services">خدمات</a></li>
                <li class="dropdown">
                    <a class="nav-link" href="/products/" data-nav="products"><span>محصولات</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <span class="mr-1" style="font-weight: 700;">گازهای خالص</span>
                            <a href="/products/helium.html">گاز هلیوم</a>
                            <a href="/products/nitrogen.html">گاز نیتروژن</a>
                            <a href="/products/hydrogen.html">گاز هیدروژن</a>
                            <a href="/products/co2.html">دی اکسید کربن</a>
                            <a href="/products/carbon-monoxide.html">منوکسیدکربن</a>
                            <a href="/products/xenon.html">گاز زنون</a>
                            <a href="/products/krypton.html">گاز کریپتون</a>
                            <a href="/products/sf6.html">هگزافلورید گوگرد</a>
                            <a href="/products/argon.html">گاز آرگون</a>
                        </li>
                        <li>
                            <span style="font-weight: 700;">گازهای ترکیبی</span>
                            <a href="/products/laser-gas.html">گاز لیزر رافین</a>
                            <a href="/products/medical-laser.html">لیزرهای پزشکی</a>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/contact.html" data-nav="contact">تماس با ما</a></li>
                <li class="lang-li mr-3">
                    <span class="lang-li-a cursor-pointer">
                        <img src="/assets/img/flag/ir.png" height="12" alt="fa" width="18">
                        <span class="mr-1">فارسی</span>
                        <i class="bi bi-chevron-down mr-1"></i>
                    </span>
                    <div class="popup cursor-pointer mr-1" style="display: none;">
                        <a href="https://www.tarkibgas.ir/en">
                            <span class="flag"><img src="/assets/img/flag/gb.png" height="12" alt="en" width="18"></span>
                            <span>English</span>
                        </a>
                    </div>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

